@model Planning.Contract.Model.Project

@{
    ViewData["Title"] = "Проект";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsLeaf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsLeaf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUsedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUsedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Редактировать", "Edit", new { Id = Model.Id }, new { @class = "btn btn-dark" }) 
    <a asp-action="Index" class = "btn btn-dark">Вернуться</a>
</div>