@model IEnumerable<Planning.Contract.Model.Project>

@{
    ViewData["Title"] = "Проекты";
}

<div class="container">
    @Html.ActionLink("Добавить", "Create", new { }, new { @class = "btn btn-dark" })
    @Html.ActionLink("История", "History", new { }, new { @class = "btn btn-dark" })
    <hr>
    @foreach (var item in Model)
    {
        <div>
            <div style="margin-top:4px;padding:0px;">
                @Html.HiddenFor(m => item.Id)
                @Html.LabelFor(m => item.Name) : @Html.DisplayFor(m => item.Name)
                @Html.LabelFor(m => item.Path) : @Html.DisplayFor(m => item.Path)
                @if (!item.IsLeaf)
                {
                    <button id="btn_@item.Id" class="btn btn-dark btn-expand" onclick="LoadChilds('@item.Id')" loaded="false">+</button>
                }                
                <span class="dropdown col-sm-1">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
                    <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink("Add", "Create", new { parentId = item.Id }, new { @class = "btn btn-dark dropdown-item" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-dark dropdown-item" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-dark dropdown-item" })
                    </span>
                </span>
            </div>
            <div id="child_@item.Id" style="margin-left:20px"></div>
        </div>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        function LoadChilds(parent_id) {
            var loaded = $('#btn_' + parent_id).attr("loaded");           
            if (loaded == "true") {
                $('#btn_' + parent_id).attr("loaded", "false");
                $('#btn_' + parent_id).attr("class", "btn btn-dark btn-expand");
                $('#child_' + parent_id).html("");
            }
            else {
                $('#btn_' + parent_id).attr("loaded", "true");
                $('#btn_' + parent_id).attr("class", "btn btn-light btn-expand");
                $.get("Project/IndexChilds/?parentId=" + parent_id, function (data, textStatus, request) {
                    $('#child_' + parent_id).html(data);
                });
            }
        };
    </script>
}
      


