@model IEnumerable<Planning.Contract.Model.Formula>

<table class="table">
    <thead>
        <tr>            
            <th>@Html.DisplayNameFor(s => s.Name)</th>
            <th>@Html.DisplayNameFor(s => s.Text)</th>
            <th>@Html.DisplayNameFor(s => s.IsDefault)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>            
            <td>@item.Name</td>
            <td>@item.Text</td>
            <td>@item.IsDefault</td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "Formula", new { id = item.Id }, new { @class = "btn btn-dark" })
                @Html.ActionLink("Удалить", "Delete", "Formula", new { id = item.Id }, new { @class = "btn btn-dark" })
            </td>
        </tr>
        }
    </tbody>
</table>
