@model IEnumerable<Planning.Contract.Model.ScheduleHistory>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.HId)</th>
            <th>@Html.DisplayNameFor(s => s.Id)</th>
            <th>@Html.DisplayNameFor(s => s.BeginDate)</th>
            <th>@Html.DisplayNameFor(s => s.EndDate)</th>
            <th>@Html.DisplayNameFor(s => s.IsRunning)</th>           
            <th>@Html.DisplayNameFor(s => s.Project)</th>
            <th>@Html.DisplayNameFor(s => s.ProjectId)</th>
            <th>@Html.DisplayNameFor(s => s.ChangeDate)</th>
            <th>@Html.DisplayNameFor(s => s.IsDeleted)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.HId</td>
            <td>@item.Id</td>
            <td>@item.BeginDate</td>
            <td>@item.EndDate</td>
            <td>@item.IsRunning</td>            
            <td>@item.Project</td>
            <td>@item.ProjectId</td>
            <td>@item.ChangeDate</td>
            <td>@item.IsDeleted</td>
        </tr>
        }
    </tbody>
</table>
