@model IEnumerable<Planning.Contract.Model.Schedule>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.BeginDate)</th>
            <th>@Html.DisplayNameFor(s => s.EndDate)</th>
            <th>@Html.DisplayNameFor(s => s.Project)</th>
            <th>@Html.DisplayNameFor(s => s.ProjectPath)</th>
            <th>@Html.DisplayNameFor(s => s.IsRunning)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.BeginDate.ToString("yyyy-MM-dd HH:mm")</td>
            <td>@item.EndDate.ToString("yyyy-MM-dd HH:mm")</td>
            <td>@Html.ActionLink(item.Project, "Details", "Project", new { id = item.ProjectId }, new { })</td>
            <td>@item.ProjectPath</td>
            <td>@item.IsRunning</td>
            <td>
                @*@Html.ActionLink("Редактировать", "Edit", "Schedule", new { id = item.Id }, new { @class = "btn btn-dark" })
            @Html.ActionLink("Удалить", "Delete", "Schedule", new { id = item.Id }, new { @class = "btn btn-dark" })*@
            </td>
        </tr>
        }
    </tbody>
</table>
