@model Planning.Contract.Model.User

<h3>Вы действительно хотите удалить пользователя?</h3>
<div>
    <h4>Удаление пользователя</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultProjectTimespan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DefaultProjectTimespan)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formula)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeafOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeafOnly)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleCount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleMode)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleShift)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleShift)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleTimeSpan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleTimeSpan)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Удалить" class="btn btn-danger" />
        @Html.ActionLink("Вернуться", "Details", "User", new { id = Model.Id }, new { @class = "btn btn-dark" })
    </form>
</div>